$color_1: white;
$color_2: dodgerblue;
$background-color_1: #ddd;
$background-color_2: #ff652f;
$background-color_3: #f1f1f1;

/* Add padding to containers */
/* Full-width input fields */
/* Overwrite default styles of hr */
/* Set a style for the submit/register button */
/* Add a blue text color to links */
/* Set a grey background color and center the text of the "sign in" section */
* {
  box-sizing: border-box;
}
.container {
  padding-top: 12rem;
  padding-bottom: 0%;
  padding-left: 40%;
}
input[type="text"] {
  width: auto;
  padding: 15px;
  margin: 1px 60px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  &:focus {
    background-color: $background-color_1;
    outline: none;
  }
}
input[type="password"] {
  width: auto;
  padding: 15px;
  margin: 5px 2rem 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  &:focus {
    background-color: $background-color_1;
    outline: none;
  }
}
hr {
  border: 1px solid #f1f1f1;
  padding: auto;
  width: 40%;
  margin-bottom: 15px;
}
.registerbtn {
  background-color: $background-color_2;
  color: $color_1;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: a;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}
a {
  color: $color_2;
}
.signin {
  background-color: $background-color_3;
  text-align: center;
}
.social-icons {
  position: initial;
  margin-top: 12rem;
}
